@page "/Administration"

<BPageTitle Icon="" Title="System Administration" />

<div class="group">
    <Card Title="Properties"
          SecondaryText="A list of all server properties."
          Icon="" />

    <Card Title="Words"
          SecondaryText="A list of all the drawable words."
          HREF="/Administration/Words"
          Icon="" />

    <Card Title="Difficulties"
          SecondaryText="A list of word difficutly definitions."
          HREF="/Administration/Difficulties"
          Icon="" />

    <Card Title="Banned Words"
          SecondaryText="A list of banned words."
          HREF="/Administration/BannedWords"
          Icon="" />

    <Card Title="Users"
          SecondaryText="A list of all registered users."
          HREF="/Administration/Users"
          Icon="" />

    <Card Title="Sessions"
          SecondaryText="A list of live user sessions."
          HREF="/Administration/Sessions"
          Icon="" />

    <Card Title="Banned Users"
          SecondaryText="A list of all banned users."
          Icon="" />

    <Card Title="Profile Pictures"
          SecondaryText="A list of selectable account profile pictures."
          HREF="/Administration/ProfilePictures"
          Icon="" />

    <Card Title="Rooms"
          SecondaryText="A list of all registered rooms."
          Icon="" />

</div>