@page "/Administration/Words/";
@page "/Administration/Words/{PageNumber:int}";
@page "/Administration/Words/{WordID}";
@inject Services.Database db;
@using iSketch.app.Shared.Admin.TableEditor;

@if (WordID == null)
{
    <div class="center">
        <span class="icon"></span>
        <span class="title">Word List</span>
    </div>
    <TableEditor 
        PageNumber="PageNumber"
        SQLCon="db.DBCon"
        PagePath="/Administration/Words"
        TableName="[Words.Difficulty]"
        VisibleRows='new List<string>() { "WordID", "Word", "Difficulty", "Score" }'
        VisibleRowsTitles='new List<string>() { "WordID", "Word", "Difficulty", "Score" }'
    />
}
else
{
    <div class="center">
        <span class="icon"></span>
        <span class="title">Editing word ""</span>
    </div>
}

@code {
    [Parameter]
    public int PageNumber { get; set; }
    [Parameter]
    public string WordID { get; set; }
}