@page "/Administration/Words";
@inject Services.Database db;
@using iSketch.app.Shared.Admin.TableEditor;

<h3>Words</h3>

<hr />

<TableEditor @ref="Table" />

@code {
    private TableEditor Table;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            Table.SQLCon = db.DBCon;
            Table.TableName = "[Words.Difficulty]";
            Table.VisibleRows.AddRange(new string[] { "WordID", "Word", "Difficulty", "Score" });
            Table.VisibleRowsTitles.AddRange(new string[] { "WordID", "Word", "Difficulty", "Score" });
            Table.TableInit();
        }
        await base.OnAfterRenderAsync(firstRender);
    }
}