<div>
    <CButton Emphasis="Emphasis.Medium" OnClick="OnApplyClick" Icon="">Apply</CButton>
    <CButton Emphasis="Emphasis.Low" OnClick="OnSaveClick" Icon="">Save</CButton>
    <CButton Emphasis="Emphasis.High" OnClick="OnCancelClick" Icon="">Done</CButton>
</div>

@code {
    [Parameter]
    public EventCallback<MouseEventArgs> OnApplyClick { get; set; }
    [Parameter]
    public EventCallback<MouseEventArgs> OnSaveClick { get; set; }
    [Parameter]
    public EventCallback<MouseEventArgs> OnCancelClick { get; set; }
}