<div>
    <CButton OnClick="OnApplyClick" Icon="">Apply</CButton>
    <CButton OnClick="OnSaveClick" Icon="">Save</CButton>
    <CButton OnClick="OnCancelClick" Icon="">Done</CButton>
</div>

@code {
    [Parameter]
    public EventCallback<MouseEventArgs> OnApplyClick { get; set; }
    [Parameter]
    public EventCallback<MouseEventArgs> OnSaveClick { get; set; }
    [Parameter]
    public EventCallback<MouseEventArgs> OnCancelClick { get; set; }
}