<div>
    <button @onclick="OnApplyClick"><span></span>Apply</button>
    <button @onclick="OnSaveClick"><span></span>Save</button>
    <button @onclick="OnCancelClick"><span></span>Done</button>
</div>

@code {
    [Parameter]
    public EventCallback<MouseEventArgs> OnApplyClick { get; set; }
    [Parameter]
    public EventCallback<MouseEventArgs> OnSaveClick { get; set; }
    [Parameter]
    public EventCallback<MouseEventArgs> OnCancelClick { get; set; }
}