@using System.Data.SqlClient;

<table>
    <tr>
        @foreach (string title in VisibleRowsTitles)
        {
            <th>@title</th>
        }
    </tr>
    @foreach (List<string> row in TableData)
    {
        <tr @onclick="() => RowClicked(row[0])">
            @foreach (string field in row)
            {
                <td>@field</td>
            }
        </tr>
    }
</table>

@code {
    public SqlConnection SQLCon;
    public string TableName;
    public List<string> VisibleRows = new List<string>();
    public List<string> VisibleRowsTitles = new List<string>();
    public List<string> EditableRows = new List<string>();
    private List<List<string>> TableData = new List<List<string>>();
    public async void TableInit()
    {
        string SVRows = "";
        foreach(string vRow in VisibleRows)
        {
            SVRows += vRow + ",";
        }
        SVRows = SVRows.Substring(0, SVRows.Length - 1);

        SqlCommand cmd = new SqlCommand("SELECT " + SVRows + " FROM " + TableName, SQLCon);
        SqlDataReader rdr = await cmd.ExecuteReaderAsync();
        while(await rdr.ReadAsync())
        {
            List<string> fields = new List<string>();
            for(int i = 0; rdr.FieldCount > i; i++)
            {
                fields.Add(rdr.GetValue(i).ToString());
            }
            TableData.Add(fields);
        }
        await rdr.CloseAsync();
        StateHasChanged();
    }
    private void RowClicked(string guid)
    {
        
    }
}