@font-face {
    font-family: icons;
    src: url('../fonts/icons.otf');
}
@font-face {
    font-family: noto;
    src: url('../fonts/noto.ttf');
}
* {
    -webkit-tap-highlight-color: transparent;
}
body {
    font-family: noto;
    margin: 0px;
    padding: 0px;
    color: #1e1e1e;
    background-color: white;
}
/*body::before {
    content:'';
    position:fixed;
    z-index:-100;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-image: url('../images/bg.svg');
    background-size: cover;
}*/
#is_body {
    overflow-y: scroll;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
hr {
    border:0px;
    background-color:#e0e0e0;
    height:1px;
    margin:20px 0px;
}
a {
    color:gray;
    text-decoration:none;
    transition:.3s;
    user-select:none;
}
a:hover {
    color:white;
}
input[type=text], input[type=number] {
    background-color:white;
    border:0px;
    outline:0px;
    padding:5px;
    color:#313131;
}
input[disabled] {
    color:gray;
}
@keyframes fade-in {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}