@font-face {
    font-family: icons;
    src: url('../fonts/icons.otf');
}
@font-face {
    font-family: noto;
    src: url('../fonts/noto.ttf');
}
body {
    font-family: noto;
    margin: 0px;
    padding: 0px;
    color: white;
    background-color: black;
    background-image: url('../images/bg.svg');
    background-size:cover;
    overflow-y:scroll;
}
hr {
    border:0px;
    background-color:#353535;
    height:1px;
}
a {
    color:gray;
    text-decoration:none;
    transition:.3s;
    user-select:none;
}
a:hover {
    color:white;
}