@inject IJSRuntime JS; 

<div fmid="@FMID" class="floater-menu">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public string FMID { get; set; }
}