.header {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 36px;
    width: calc(100% - 20px);
    background-color: white;
    display: flex;
    padding: 10px;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    z-index: 10;
    transition-property: box-shadow;
    transition: .3s;
}

#is_body.scrolled .header {
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
}

.center {
    flex: 1;
    text-align: center;
}

.items {
    display: inline-block;
    height: 36px;
}