<div class="header">
    <Logo />
    <span class="center">
        <span class="items">
            <MenuItem Text="Play" URL="/" />
            <MenuItem Text="Leaderboard" URL="/Leaderboard" />
            <MenuItem Text="Preferences" URL="/Preferences" />
            <MenuItem Text="About" URL="/About" />
        </span>
    </span>
    <UserMenu />
</div>