.menuitem {
    cursor: pointer;
    user-select: none;
    height: 44px;
    padding: 0px 5px 7px 5px;
    margin: 0px 10px;
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 1px;
    color: #525252;
    line-height: 44px;
    display: inline-block;
    transition: .3s;
    border-bottom: 3px solid transparent;
}

.menuitem:hover {
    color: #6d006d;
}

.menuitem.selected {
    color: #6d006d;
    border-bottom: 3px solid #6d006d;
}

.icon {
    font-family: icons;
    vertical-align: -7px;
    font-weight: normal;
    font-size: 26px;
}

@media screen and (max-width: 800px) {
    .text {
        display: none;
    }
}