@inject NavigationManager nm;

<a href="@URL" class="menuitem @Selected">
    <span class="icon">@Icon</span>
    <span class="text">@Text</span>
</a>

@code {
    [Parameter]
    public string Text { get; set; }
    [Parameter]
    public string URL { get; set; }
    [Parameter]
    public string Icon { get; set; }
    public string SelectedCompare = "";
    public string Selected { get; set; }
    protected override void OnInitialized()
    {
        nm.LocationChanged += LocChanged;
        LocChanged(null, null);
    }
    public void LocChanged(object o, LocationChangedEventArgs e)
    {
        if(nm.Uri.ToLower().EndsWith(URL.ToLower()))
        {
            Selected = "selected";
        }
        else
        {
            Selected = "";
        }
        if(SelectedCompare != Selected)
        {
            SelectedCompare = Selected;
            StateHasChanged();
        }
    }
} 