.menuitem {
    cursor: pointer;
    user-select: none;
    height: 60px;
    margin: 0px 15px;
    font-weight: bolder;
    font-size: 18px;
    color: gray;
    line-height: 60px;
    display:inline-block;
    transition:.3s;
}
.menuitem:hover {
    color:white;
}
.menuitem.selected {
    color:white;
}
.icon {
    font-family: icons;
    vertical-align: -4px;
    font-weight: normal;
    font-size: 22px;
}
@media screen and (max-width: 800px) {
    .text {
        display:none;
    }
}