<span onclick="iSketchSite.Elements.FloaterMenuF.Toggle(this)" fmid="@FMID" class="rmi-mi">
    @if (ProfilePictureID == Guid.Empty)
    {
        <span class="rmi-icon">@Icon</span>
    }
    else
    {
        <ProfilePicture ProfilePictureID="ProfilePictureID" />
    }
</span>

@code {
    [Parameter]
    public string Icon { get; set; }
    [Parameter]
    public Guid ProfilePictureID { get; set; }
    [Parameter]
    public string FMID { get; set; }
}