@inject User User;
@inject EventHookScoped EventHookScoped;

<span>
    <Authenticated>
        @if (User.ProfilePictureID == Guid.Empty)
        {
            <RightMenuItem FMID="user" Icon="" />
        }
        else
        {
            <RightMenuItem FMID="user" ProfilePictureID="User.ProfilePictureID" />
        }
    </Authenticated>
    <Authenticated Invert="true">
        <RightMenuItem FMID="user" Icon="" />
    </Authenticated>
    <RightMenuItem FMID="general" Icon="" />
</span>

<FloaterMenu FMID="user">
    <div class="u-top">
        <div class="u-bg">
            <div class="white-circle"></div>
            <ProfilePicture ProfilePictureID="User.ProfilePictureID" />
        </div>
        <Authenticated>
            <div class="u-name">@@@(User.UserName)</div>
        </Authenticated>
        <Authenticated Invert="true">
            <div class="u-name">iSketch.app</div>
        </Authenticated>
    </div>
    <div fmid class="u-menu">
        <Authenticated>
            <a href="/Account"><CMenuItem Icon="" Text="My Account" /></a>
            <CMenuItem Icon="" Text="Sign out" OnClick="() => User.Logoff()" />
        </Authenticated>
        <Authenticated Invert="true">
            <CMenuItem Icon="" Text="Sign in / Sign up" OnClick="EventHookScoped.OnLoginButtonPressed" />
        </Authenticated>
    </div>
</FloaterMenu>

<FloaterMenu FMID="general">
    <div fmid>
        <a href="/About"><CMenuItem Icon="" Text="About iSketch.app" /></a>
        <a href="/Rules"><CMenuItem Icon="" Text="Rules" /></a>
        <a href="/Help"><CMenuItem Icon="" Text="Help" /></a>
        <hr />
        <a href="/TermsOfService"><CMenuItem Icon="" Text="Terms of Service" /></a>
        <a href="/Privacy"><CMenuItem Icon="" Text="Privacy Policy" /></a>
    </div>
</FloaterMenu>

@code {
    protected override void OnInitialized()
    {
        EventHookScoped.LoginLogoutStatusChanged += OnProfileStatusChanged;
        EventHookScoped.ProfilePictureIDChanged += OnProfileStatusChanged;
        base.OnInitialized();
    }
    private void OnProfileStatusChanged(object o, EventArgs a)
    {
        InvokeAsync(() => StateHasChanged());
    }
}