span {
    width: 100px;
    font-size: 0px;
    text-align: right;
}

.u-top {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
}

.u-bg {
    background-image: url('./static/images/banner-bg.svg');
    background-size: cover;
    background-position: center;
    height: 70px;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
}

.white-circle {
    background-color: white;
    position: absolute;
    width: 90px;
    height: 90px;
    top: 25px;
    left: calc(50% - 45px);
    border-radius: 45px;
}

::deep .profile-picture {
    top: 30px;
    left: calc(50% - 40px);
    width: 80px !important;
    height: 80px !important;
}

.u-menu {
    margin-top: 150px;
}

hr {
    margin: 10px 0px;
}