<span>
    <RightMenuItem FMID="user" Icon="" />
    <RightMenuItem FMID="general" Icon="" />
</span>

<FloaterMenu FMID="user">
    <div class="u-top">
        <div class="u-bg">
            <div class="u-image"></div>
        </div>
        <div class="u-name">@@BabySmith21</div>
    </div>
    <div fmid class="u-menu">
        <CMenuItem Icon="" Text="Sign in" />
        <CMenuItem Icon="" Text="Sign up" />
    </div>
</FloaterMenu>

<FloaterMenu FMID="general">
    <div fmid>
        <a href="/About"><CMenuItem Icon="" Text="About iSketch.app" /></a>
    </div>
</FloaterMenu>

@code {
    private bool UserMenuVisible { get; set; }
    private bool GeneralMenuVisible { get; set; }
}