.rmi-mi {
    display: inline-block;
    width: 34px;
    height: 34px;
    border: 3px solid white;
    border-radius: 20px;
    margin-top: 2px;
    transition: .3s;
    cursor: pointer;
    margin-left: 5px;
    background-color: #835683;
    color: white;
    font-family: icons;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    vertical-align: top;
}

.rmi-mi:hover, .rmi-mi.visible {
    border: 3px solid #d6d6d6;
}