@inject User user; 

<span>
    <RightMenuItem FMID="user" Icon="" />
    <RightMenuItem FMID="general" Icon="" />
</span>

<FloaterMenu FMID="user">
    <div class="u-top">
        <div class="u-bg">
            <div class="u-image"></div>
        </div>
        <Authenticated>
            <div class="u-name">@@@(user.UserName)</div>
        </Authenticated>
        <Authenticated Invert="true">
            <div class="u-name">iSketch.app</div>
        </Authenticated>
    </div>
    <div fmid class="u-menu">
        <Authenticated>
            <CMenuItem Icon="" Text="Preferences" />
            <CMenuItem Icon="" Text="Sign out" OnClick="() => user.Logoff()" />
        </Authenticated>
        <Authenticated Invert="true">
            <CMenuItem Icon="" Text="Sign in" />
            <CMenuItem Icon="" Text="Sign up" />
        </Authenticated>
    </div>
</FloaterMenu>

<FloaterMenu FMID="general">
    <div fmid>
        <a href="/About"><CMenuItem Icon="" Text="About iSketch.app" /></a>
        <a href="/Rules"><CMenuItem Icon="" Text="Rules" /></a>
        <a href="/Help"><CMenuItem Icon="" Text="Help" /></a>
    </div>
</FloaterMenu>