<span>
    <RightMenuItem Highlight="UserMenuVisible" Icon="" OnClick="() => { UserMenuVisible = !UserMenuVisible; }" />
    <RightMenuItem Highlight="GeneralMenuVisible" Icon="" OnClick="() => { GeneralMenuVisible = !GeneralMenuVisible; }" />
</span>

<FloaterMenu @bind-Visible="UserMenuVisible">
    <div class="u-top">
        <div class="u-image"></div>
    </div>
    <div class="u-text">
        <!--<div class="u-name">@@BabySmith</div>-->
    </div>
    <div class="u-menu" @onclick="() => UserMenuVisible = false">
        <CMenuItem Icon="" Text="Change username" />
        <CMenuItem Icon="" Text="Sign in" />
        <CMenuItem Icon="" Text="Sign up" />
    </div>
</FloaterMenu>

<FloaterMenu @bind-Visible="GeneralMenuVisible">
    <div @onclick="() => GeneralMenuVisible = false">
        <a href="/About"><CMenuItem Icon="" Text="About iSketch.app" /></a>
    </div>
</FloaterMenu>

@code {
    private bool UserMenuVisible { get; set; }
    private bool GeneralMenuVisible { get; set; }
}