<div class="center">
    <span class="icon">@Icon</span>
    <span class="title">@Title</span>
</div>

@code {
    [Parameter]
    public string Title { get; set; } = "";
    [Parameter]
    public string Icon { get; set; } = "";
}
