<div class="pl_body">
    <div class="header">
        <div class="logo ghost"></div>
        <div class="hbutt ghost"></div>
        <div class="hbutt ghost"></div>
    </div>
    <div class="middle">
        <div class="spinner"></div>
        <div class="message">Connecting to server...</div>
    </div>
</div>