@inject Services.User User;

<Authenticated>

    <Dialog Icon="" OnFadeOut='OnFadeOut' @ref="Dialog" Header="Set a new password">
        <Warning Message="@Warning" />
        <p><CText Value="@OldPassword" ValueChanged='(v) => OldPassword = v' Type="password" Icon="" Label="Password (old)" /></p>
        <p><CText Value="@NewPassword" ValueChanged='(v) => NewPassword = v' Type="password" Icon="" Label="Password (new)" /></p>
        <p><CText Value="@ConfirmPassword" ValueChanged='(v) => ConfirmPassword = v' Type="password" Icon="" Label="Password (confirm)" /></p>
        <DialogButtonContainer>
            <SavAppCan OnCancelClick='() => Dialog.FadeOut()'
                       OnApplyClick='() => SetPassword()'
                       OnSaveClick='() => SetPassword(true)' />
        </DialogButtonContainer>
    </Dialog>
</Authenticated>

@code {
    [Parameter]
    public EventCallback OnFadeOut { get; set; }
    private Dialog Dialog;
    private string OldPassword;
    private string NewPassword;
    private string ConfirmPassword;
    private string Warning;

    private async Task SetPassword(bool tryClose = false)
    {
        try
        {
            if (NewPassword != ConfirmPassword)
            {
                Warning = "New passwords do not match.";
                return;
            }
            Warning = "Validating old password...";
            StateHasChanged();
            if (!await Task.Run<bool>(() => User.TestPassword(OldPassword)))
            {
                Warning = "Incorrect password.";
                return;
            }
            Warning = "Setting password...";
            StateHasChanged();
            if (!await Task.Run<bool>(() => User.ChangePassword(NewPassword)))
            {
                Warning = "Failed to set password!";
                return;
            }
            Warning = "Success!";
            StateHasChanged();
            if (tryClose) _ = Dialog.FadeOut();
        }
        finally
        {
            OldPassword = NewPassword = ConfirmPassword = null;
        }
    }
}