.photo-selection {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.photo-selection .selection {
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    flex: 1;
    max-width: 100px;
}

.photo-selection .label
{
    user-select: none;
    font-size: 12px;
    margin-top: 10px;
}

.photo-selection .photo {
    width: 60px;
    height: 60px;
    background-size: cover;
    border-radius: 30px;
    position: relative;
    margin: 0px auto;
}

.photo-selection .photo.none {
    background-color: var(--accent-color);
}

.photo-selection .photo.none::before {
    content: '';
    font-family: icons;
    color: white;
    font-size: 32px;
    line-height: 60px;
}

.photo-selection .photo::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0px;
    left: 0px;
    background-color: var(--accent-color);
    opacity: 0;
    transition: .3s;
    font-family: icons;
    font-size: 15px;
    color: white;
    text-align: center;
    border-radius: 10px;
    line-height: 20px;
}

.photo-selection .selection:hover .photo::after, .photo-selection .selected::after {
    opacity: 1;
}