#foundword {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    animation: ease-in-out fw-fadeinout 3s;
    pointer-events: none;
    user-select: none;
}
#foundword .middle {
    position: fixed;
    width: 100%;
    top: calc(0% - 300px);
    left: 0px;
    height: 300px;
    animation: ease-in-out fw-slidedown 3s;
    background-color: white;
}
#foundword .message {
    margin: 0px auto;
    max-width: 1000px;
    height: calc(100% - 48px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: calc(100% - 50px);
    background-image: url('foundword.svg');
    animation: fw-textzoom 0.8s alternate-reverse infinite ease-in-out;
}
#foundword .outline {
    background-image: url('outline.svg');
    background-repeat: repeat-x;
    background-size: 1200px 24px;
    height: 24px;
    width: 100%;
    animation: fw-outlineslide 6s infinite linear;
}
@keyframes fw-slidedown {
    0% {
        top: calc(0% - 300px);
    }
    30% {
        top: calc(50% - 125px);
    }
    70% {
        top: calc(50% - 175px);
    }
    100% {
        top: calc(100% + 300px);
    }
}
@keyframes fw-fadeinout {
    0% {
        background-color: rgba(0,0,0,0);
    }
    30% {
        background-color: rgba(0,0,0,0.8);
    }
    70% {
        background-color: rgba(0,0,0,0.8);
    }
    100% {
        background-color: rgba(0,0,0,0);
    }
}
@keyframes fw-textzoom {
    from {
        background-size: calc(100% - 50px);
    }
    to {
        background-size: calc(90% - 50px);
    }
}
@keyframes fw-outlineslide {
    from {
        background-position-x: 0px;
    }
    to {
        background-position-x: 1200px;
    }
}