@using System.Net.Mail;
@inject Services.User user
@inject Services.Database db
@inject NavigationManager nm;
@inject Services.Session session;  
@using OpenID; 

<Dialog Header="@(Headers[(int)CurrentStage])" @ref="Dialog">
    @if (Warning != "")
    {
        <div class="warning">@Warning</div>
    }
    @if (CurrentStage == Stage.SelectAnIDP)
    {
        <div class="px-300">
            <div class="logo"></div>
            <h3>Ready to sketch?</h3>
            <h4>Select an option to continue with:</h4>
            <div class="idp-buttons">
                @foreach (idP idP in OpenID.GetIDPs(db))
                {
                    <CButton Emphasis="CButton.EmphasisStyles.Medium" OnClick='() => nm.NavigateTo(idP.GetRequestURI(session))'>@idP.DisplayName</CButton>
                }
                <CButton Emphasis="CButton.EmphasisStyles.Medium" OnClick="() => CurrentStage = Stage.ISSignIn">Username / Password</CButton>
            </div>
        </div>
        <DialogButtonContainer>
            <CButton Icon="" Emphasis="CButton.EmphasisStyles.Low">Guest</CButton>
            <CButton Icon="" Emphasis="CButton.EmphasisStyles.Low">Spectator</CButton>
        </DialogButtonContainer>
    }
    @if (CurrentStage == Stage.ISSignIn)
    {
        <div class="px-300">
            <div class="input"><CText Label="User Name"></CText></div>
            <div class="input"><CText Type="password" Label="Password"></CText></div>
            <DialogButtonContainer SpaceEvenly="true">
                <CButton Icon="" Emphasis="CButton.EmphasisStyles.Low" OnClick="() => CurrentStage = Stage.SelectAnIDP">Back</CButton>
                <CButton Icon="" Emphasis="CButton.EmphasisStyles.Low">Sign up</CButton>
                <CButton Icon="" Emphasis="CButton.EmphasisStyles.Low">Sign in</CButton>
            </DialogButtonContainer>
        </div>
    }
    @if (CurrentStage == Stage.HelpUserName)
    {
        <p>
            iSketch.app usernames must satisfy the following conditions:
        </p>
        <ul>
            <li>Must not contain whitespace.</li>
            <li>Must be less or equal to 25 characters in length.</li>
            <li>Can only contain: a-z, A-Z, 0-9, and any special character on a US keyboard.</li>
        </ul>
        <DialogButtonContainer>
            <CButton Icon="" Emphasis="CButton.EmphasisStyles.Low" OnClick="() => CurrentStage = Stage.Unknown">Back</CButton>
        </DialogButtonContainer>
    }
</Dialog>

@code {
    private Stage rCurrentStage = Stage.SelectAnIDP;
    private Stage CurrentStage
    {
        get
        {
            return rCurrentStage;
        }
        set
        {
            Warning = "";
            rCurrentStage = value;
        }
    }
    private Dialog Dialog;
    private string UserName = "";
    private string Password = "";
    private string Password2 = "";
    private string Email = "";
    private string Warning = "";
    private string[] Headers = new string[]
    {
        "Unknown",
        "",
        "Create your account",
        "iSketch.app account",
        "Unknown",
        "Help with choosing a username"
    };
    private enum Stage : int
    {
        Unknown = 0,
        SelectAnIDP = 1,
        ISSignUp = 2,
        ISSignIn = 3,
        Unknown1 = 4,
        HelpUserName = 5
    }
}