.logo {
    width: 150px;
    height: 150px;
    background-image: url('./static/images/isketch_animated.svg');
    background-size: 100% 100%;
    margin-left: auto;
    margin-right: auto;
}

.page {
    text-align: center;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

h2 {
    font-weight: lighter;
}

p {
    color: #5a5a5a;
}

table {
    width: 100%;
}

td:nth-child(1) {
    text-align: left;
    font-weight: bolder;
    width:140px;
}

td:nth-child(2) {
    text-align: right;
}