.subtext {
    color: gray;
}

.main {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    margin: -10px;
}

.main > * {
    margin: 20px;
}

.sidebar {
    min-width: 250px;
    flex: 1;
}

::deep.sidebar > * {
    width: 100%;
    margin: 5px 0px;
    text-align: left;
}

.page {
    flex: 100;
}

.title {
    text-align: center;
    margin-bottom: 40px;
}

.photo {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-color: var(--accent-color);
    margin: 0px auto;
    overflow: hidden;
}

.photo::after {
    content: '';
    color: white;
    font-family: icons;
    line-height: 150px;
    font-size: 100px;
}

.photo div {
    width: 100%;
    height: 100%;
    background-size: cover;
}

::deep.details {
    display: flex;
    margin: -5px;
    flex-wrap: wrap;
}

::deep.details > * {
    flex: 1;
    margin: 5px;
}