@page "/"
@using iSketch.app.Shared.Game.Timer;
@using iSketchTimer = iSketch.app.Shared.Game.Timer.Timer;

<!--<Timer @ref="timer" />
@if (ShowDialog)
{
    <Dialog OnFadeOut="@(() => ShowDialog = false)" OnDismiss="@((e) =>  e.FadeOut())" Header="iSketch.app Beta CI">This instance of iSketch.app is in active development, this site may restart at any time.</Dialog>
}
-->

<Authenticated>
    Only shown to authenticated users!
    <a href="/Administration">Administration</a>
</Authenticated>

<Authenticated Invert="true">
    You are not logged in!
    <iSketch.app.Shared.Login.LoginDialog />
</Authenticated>


@code {
    public bool ShowDialog = true;
    public iSketchTimer timer;
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        //timer.TimerInitialized += TimerReady;
        return base.OnAfterRenderAsync(firstRender);
    }
    private async void TimerReady(object o, EventArgs e)
    {
        await timer.StartTimer();
    }
}
