@page "/"
@using iSketch.app.Shared.Game.Timer; 
@using iSketchTimer = iSketch.app.Shared.Game.Timer.Timer; 




<!--<Timer @ref="timer" />-->
@if (ShowDialog)
{
    <Dialog OnFadeOut="@(() => ShowDialog = false)" OnDismiss="@((e) =>  e.FadeOut())" Header="Reset settings?">This will reset your device to <br /> its default factory settings.</Dialog>
}

<a href="/Administration/Words">Words</a>

@code {
    public bool ShowDialog = true;
    public iSketchTimer timer;
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        //timer.TimerInitialized += TimerReady;
        return base.OnAfterRenderAsync(firstRender);
    }
    private async void TimerReady(object o, EventArgs e)
    {
        await timer.StartTimer();
    }
} 
