@inject NavigationManager nm; 

<!--<div class="bg"></div>-->

<Dialog OnFadeOut='() => nm.NavigateTo(ReturnTo)' OnDismiss='(d) => d.FadeOut()'>
    <center>
        <div class="emoji">@Emoji</div>
        <p>@Message</p>
    </center>
</Dialog>

@code {
    [Parameter]
    public string Emoji { get; set; } = "😶";
    [Parameter]
    public string Message { get; set; } = "An un-defined error occured.";
    [Parameter]
    public string ReturnTo { get; set; } = "/";
} 