@inject NavigationManager nm; 

<!--<div class="bg"></div>-->

<Dialog OnFadeOut='() => nm.NavigateTo("/")' OnDismiss='(d) => d.FadeOut()'>
    <center>
        <div class="emoji">(☁️😶) ->📱</div>
        <p>The iSketch.app server returned an empty response.</p>
    </center>
</Dialog>
