@inherits LayoutComponentBase

<iSketch.app.Shared.Login.LoginDialog />
<iSketch.app.Shared.Login.ChangeUserNameDialog />

<div class="main">
    <iSketch.app.Shared.Body.Header.Header />
    <div class="body">
        @Body
    </div>
    <!--<iSketch.app.Shared.Body.Footer.Footer />-->
</div>