.body {
    flex: 1;
    max-width: 1400px;
    width: calc(100% - 60px);
    margin: 30px auto 30px auto;
    position: relative;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media screen and (max-width: 1400px) {
    .body {
        margin: 30px;
    }
}

@media screen and (max-width: 600px) {
    .body {
        margin: 10px;
        width: calc(100% - 20px);
    }
}