.body {
    flex: 1;
    max-width: 1400px;
    width: calc(100% - 60px);
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    position: relative;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media screen and (max-width: 600px) {
    .body {
        padding: 10px;
        width: calc(100% - 20px);
    }
}