@inject IJSRuntime js;

<div id="@ID" style="z-index:@ZIndex;" class="popup">
    <div></div>
    <div class="form">
        @ChildContent
    </div>
    <div></div>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public int ZIndex { get; set; } = 100;
    [Parameter]
    public EventCallback OnFadeOut { get; set; }
    private string ID = "x" + Guid.NewGuid().ToString();
    public async Task FadeOut()
    {
        _ = js.InvokeVoidAsync("eval", "document.getElementById('" + ID + "').classList.add('closing');");
        await Task.Delay(300);
        await OnFadeOut.InvokeAsync();
    }
}